## Desafío 1

In [1]:
import numpy as np

In [2]:
a, b, c = 1, 50, 150
ar1 = np.linspace(a, b, num = b-a, dtype=int)
ar2 = np.linspace(b, c, num = c-b, dtype=int)

## Desafío 2

In [3]:
for i in ar1:
    if i % 2 == 0:
        print("{} es par".format(i))
    else:
        print("{} es impar".format(i))

1 es impar
2 es par
3 es impar
4 es par
5 es impar
6 es par
7 es impar
8 es par
9 es impar
10 es par
11 es impar
12 es par
13 es impar
14 es par
15 es impar
16 es par
17 es impar
18 es par
19 es impar
20 es par
21 es impar
22 es par
23 es impar
24 es par
25 es impar
26 es par
27 es impar
28 es par
29 es impar
30 es par
31 es impar
32 es par
33 es impar
34 es par
35 es impar
36 es par
37 es impar
38 es par
39 es impar
40 es par
41 es impar
42 es par
43 es impar
44 es par
45 es impar
46 es par
47 es impar
48 es par
50 es par

## Desafío 3

In [4]:
ct2or3, ct2and3, ct3, ct_none = 0, 0, 0, 0
for i in ar2:
    div_2 = i % 2 == 0
    div_3 = i % 3 == 0
    if div_2 | div_3:
        print("{} es divisible por 2 o por 3.".format(i))
        ct2or3 += 1
    if div_2 & div_3:
        print("{} es divisible por 2 y por 3.".format(i))
        ct2and3 += 1
    if div_3 & (not div_2):
        print("{} es divisible por 3 pero no por 2.".format(i))
        ct3 += 1
    if (not div_2) & (not div_3):
        print("{} no es divisible por 2 ni por 3.".format(i))
        ct_none += 1
print("")
print("La condición número 1 se cumple {} veces.".format(ct2or3))
print("La condición número 2 se cumple {} veces.".format(ct2and3))
print("La condición número 3 se cumple {} veces.".format(ct3))
print("La condición número 4 se cumple {} veces.".format(ct_none))

50 es divisible por 2 o por 3.
51 es divisible por 2 o por 3.
51 es divisible por 3 pero no por 2.
52 es divisible por 2 o por 3.
53 no es divisible por 2 ni por 3.
54 es divisible por 2 o por 3.
54 es divisible por 2 y por 3.
55 no es divisible por 2 ni por 3.
56 es divisible por 2 o por 3.
57 es divisible por 2 o por 3.
57 es divisible por 3 pero no por 2.
58 es divisible por 2 o por 3.
59 no es divisible por 2 ni por 3.
60 es divisible por 2 o por 3.
60 es divisible por 2 y por 3.
61 no es divisible por 2 ni por 3.
62 es divisible por 2 o por 3.
63 es divisible por 2 o por 3.
63 es divisible por 3 pero no por 2.
64 es divisible por 2 o por 3.
65 no es divisible por 2 ni por 3.
66 es divisible por 2 o por 3.
66 es divisible por 2 y por 3.
67 no es divisible por 2 ni por 3.
68 es divisible por 2 o por 3.
69 es divisible por 2 o por 3.
69 es divisible por 3 pero no por 2.
70 es divisible por 2 o por 3.
71 no es divisible por 2 ni por 3.
72 es divisible por 2 o por 3.
72 es divisible por 2 y por 3.
73 no es divisible por 2 ni por 3.
74 es divisible por 2 o por 3.
75 es divisible por 2 o por 3.
75 es divisible por 3 pero no por 2.
76 es divisible por 2 o por 3.
77 no es divisible por 2 ni por 3.
78 es divisible por 2 o por 3.
78 es divisible por 2 y por 3.
79 no es divisible por 2 ni por 3.
80 es divisible por 2 o por 3.
81 es divisible por 2 o por 3.
81 es divisible por 3 pero no por 2.
82 es divisible por 2 o por 3.
83 no es divisible por 2 ni por 3.
84 es divisible por 2 o por 3.
84 es divisible por 2 y por 3.
85 no es divisible por 2 ni por 3.
86 es divisible por 2 o por 3.
87 es divisible por 2 o por 3.
87 es divisible por 3 pero no por 2.
88 es divisible por 2 o por 3.
89 no es divisible por 2 ni por 3.
90 es divisible por 2 o por 3.
90 es divisible por 2 y por 3.
91 no es divisible por 2 ni por 3.
92 es divisible por 2 o por 3.
93 es divisible por 2 o por 3.
93 es divisible por 3 pero no por 2.
94 es divisible por 2 o por 3.
95 no es divisible por 2 ni por 3.
96 es divisible por 2 o por 3.
96 es divisible por 2 y por 3.
97 no es divisible por 2 ni por 3.
98 es divisible por 2 o por 3.
99 es divisible por 2 o por 3.
99 es divisible por 3 pero no por 2.
100 es divisible por 2 o por 3.
101 no es divisible por 2 ni por 3.
102 es divisible por 2 o por 3.
102 es divisible por 2 y por 3.
103 no es divisible por 2 ni por 3.
104 es divisible por 2 o por 3.
105 es divisible por 2 o por 3.
105 es divisible por 3 pero no por 2.
106 es divisible por 2 o por 3.
107 no es divisible por 2 ni por 3.
108 es divisible por 2 o por 3.
108 es divisible por 2 y por 3.
109 no es divisible por 2 ni por 3.
110 es divisible por 2 o por 3.
111 es divisible por 2 o por 3.
111 es divisible por 3 pero no por 2.
112 es divisible por 2 o por 3.
113 no es divisible por 2 ni por 3.
114 es divisible por 2 o por 3.
114 es divisible por 2 y por 3.
115 no es divisible por 2 ni por 3.
116 es divisible por 2 o por 3.
117 es divisible por 2 o por 3.
117 es divisible por 3 pero no por 2.
118 es divisible por 2 o por 3.
119 no es divisible por 2 ni por 3.
120 es divisible por 2 o por 3.
120 es divisible por 2 y por 3.
121 no es divisible por 2 ni por 3.
122 es divisible por 2 o por 3.
123 es divisible por 2 o por 3.
123 es divisible por 3 pero no por 2.
124 es divisible por 2 o por 3.
125 no es divisible por 2 ni por 3.
126 es divisible por 2 o por 3.
126 es divisible por 2 y por 3.
127 no es divisible por 2 ni por 3.
128 es divisible por 2 o por 3.
129 es divisible por 2 o por 3.
129 es divisible por 3 pero no por 2.
130 es divisible por 2 o por 3.
131 no es divisible por 2 ni por 3.
132 es divisible por 2 o por 3.
132 es divisible por 2 y por 3.
133 no es divisible por 2 ni por 3.
134 es divisible por 2 o por 3.
135 es divisible por 2 o por 3.
135 es divisible por 3 pero no por 2.
136 es divisible por 2 o por 3.
137 no es divisible por 2 ni por 3.
138 es divisible por 2 o por 3.
138 es divisible por 2 y por 3.
139 no es divisible por 2 ni por 3.
140 es divisible por 2 o por 3.
141 es divisible por 2 o por 3.
141 es divisible por 3 pero no por 2.
142 es divisible por 2 o por 3.
143 no es divisible por 2 ni por 3.
144 es divisible por 2 o por 3.
144 es divisible por 2 y por 3.
145 no es divisible por 2 ni por 3.
146 es divisible por 2 o por 3.
147 es divisible por 2 o por 3.
147 es divisible por 3 pero no por 2.
148 es divisible por 2 o por 3.
150 es divisible por 2 o por 3.
150 es divisible por 2 y por 3.

La condición número 1 se cumple 68 veces.
La condición número 2 se cumple 17 veces.
La condición número 3 se cumple 17 veces.
La condición número 4 se cumple 32 veces.

## Desafío 4

In [5]:
for i in range(100):
    print(i**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801

NameError: la variable 'I' no está definida; el iterador 'i' estaba en mayúsculas (Python es sensible a capitalización).

## Desafío 5

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("flights.csv")

In [8]:
mean_passengers = np.mean(df["passengers"]); print(mean_passengers)

280.2986111111111

In [9]:
df["underperforming"] = 0

In [10]:
for index, row in df.iterrows():
    if row["passengers"] < mean_passengers:
        df.at[index,"underperforming"] = 1

In [11]:
df

     year      month  passengers  underperforming
0    1949    January         112                1
1    1949   February         118                1
2    1949      March         132                1
3    1949      April         129                1
4    1949        May         121                1
..    ...        ...         ...              ...
139  1960     August         606                0
140  1960  September         508                0
141  1960    October         461                0
142  1960   November         390                0
143  1960   December         432                0

[144 rows x 4 columns]

## Desafío 6

In [12]:
mean = np.mean(df["passengers"]); print(mean)

280.2986111111111

In [13]:
stdd = np.std(df["passengers"]); print(stdd)

119.54904153277147

In [14]:
df["outlier"] = 0

In [15]:
for index, row in df.iterrows():
    is_too_right = (row["passengers"] >= mean + stdd)
    is_too_left = (row["passengers"] <= mean - stdd)
    if is_too_right or is_too_left:
        df.at[index,"outlier"] = 1

**Los meses que se escapan de la tendencia son**

In [20]:
df_outliers = df[df["outlier"]==1]["month"].value_counts(); print(df_outliers)

August       6
July         6
September    6
June         6
March        4
October      4
January      4
May          4
December     4
November     3
February     3
April        3
Name: month, dtype: int64

**El total de observaciones que se pueden clasificar como casos extremos está dado por**

In [17]:
df_outliers.sum()

53